# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore virtual environments
.venv/
env/
venv/

# Ignore environment files with secrets
.env
env/
venv/

# Instagrapi session
session.json

# Ignore all .txt result files in the outputs folder
outputs/*.txt